version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: cafego_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: cafego
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: